    <section class="centered">
        <h1>Bitcoin(BTC)</h1>
        <a href="/assets/imgs/btc.png"><img class='qr' src="/assets/imgs/btc.png" alt="bitcoin qrcode"></a>
        <div class="column-wrapper">
            <pre><code>1FXKStAS34VKGJ9iEe2eJUK2KMK71dEScd</code></pre>
        </div>
        <hr>
        <h1>Monero(XMR)</h1>
        <a href="/assets/imgs/xmr.png"><img class='qr' src="/assets/imgs/xmr.png" alt="monero qrcode"/></a>
        <div class="column-wrapper">
            <pre><code>45aHFnHNWAWPGbfaajhn544VAfnakBAbNZ9fXXMW8b6KMMqvCNLgnYTGfJAzYiNKThXcLYumK7mZthLmdRyFCXDs1JYqmwa</code></pre>
        </div>
        <hr>
        <h1>Ethereum(ETH) and other tokens on ethereum:</h1>
        <a href="/assets/imgs/eth.png"><img class='qr' src="/assets/imgs/eth.png" alt="ethereum qrcode"></a>
        <div class="column-wrapper">
            <pre><code>0x5F8c8668f86f12706E95ece3809C2E54588a6EB1</code></pre>
        </div>

    </section>
